* { box-sizing: border-box; margin: 0; padding: 0; font-family: sans-serif; }

body { padding: 20px; background-color: #f4f4f9; }

header { 
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-bottom: 15px; 
}

hr {
    margin-bottom: 15px;
}
#theme-toggle {
    width: auto;     
    padding: 8px 16px;
    background-color: #333;
    border-radius: 20px; 
    color: white;
}

body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

body.dark-mode .form-wrapper, 
body.dark-mode .table-wrapper {
    background-color: #1e1e1e; 
    color: #ffffff;
    box-shadow: 0 4px 15px rgba(255,255,255,0.05);
}

body.dark-mode input {
    background-color: #2d2d2d;
    border: 1px solid #444;
    color: white;
}

body.dark-mode #theme-toggle {
    background-color: #ffffff;
    color: #333; 
}

body.dark-mode hr{
    border-color: #fff;
}

.main-container {
    display: flex;        
    gap: 30px;           
    align-items: flex-start; 
}

.form-wrapper {
    flex: 1;
    background: #ffffff;
    padding: 25px;
    border-radius: 10px; 
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.input-group label {
    display: block; 
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.input-group input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px; /* Space between inputs */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button#add-btn {
    width: 100%;
    padding: 12px;
    background-color: #007bff; /* Nice Blue */
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

button#add-btn:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

.table-wrapper {
    flex: 2;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

table { width: 100%; border-collapse: collapse; }
th, td { padding: 12px; text-align: left; border-bottom: 1px solid #ddd; }